<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 

<body>
	<!-- include Header -->
	<% if(locals.mail){ %>
		<%- include('./partials/headerLogueado.ejs') %> 
	<% } else{ %> 
		<%- include('./partials/header.ejs') %>
	<% } %> 

	<!-- /Header -->

	<div class="container-fluid">
		<div class="row main-form bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo">
					<h2><img src="/images/autosell/logo.png" alt=""></h2>
				</span>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2><%= locals.nombre + ' ' + locals.apellido %></h2>
					</div>
					<div class="row">
						<form method="POST" class="form-group" enctype="multipart/form-data">
							<div class="row">
								<input type="text" name="nombre" value="<%= nombre%>" required class="form__input" placeholder="Nombre">
							</div>
							<div class="row">
								<input type="text" name="apellido" value="<%= apellido%>" required class="form__input" placeholder="Apellido">
							</div>
							<div class="row">
								<input type="text" name="mail" value="<%= mail%>" required class="form__input" placeholder="Mail" />
							</div>
							<div class="row">
								<input type="text" name="numero_telefono" value="<%= numero_telefono%>" required class="form__input" placeholder="Numero telefono" />
							</div>
							<div class="row">
							</label>
									<input type="file" class="form-control" id="foto" name="foto"> </label>	
							</div>
							<div class="row">
								<input type="submit" value="Confirmar" class="btn">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--include footer -->
	<%- include('./partials/footer.ejs') %> 

	<!-- /footer -->
</body>

</html>